.forgotPasswordContainer {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.forgotPasswordContainer h1 {
  font-family: "Cinzel", serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.forgotPasswordContainer h2 {
  font-family: "Cinzel", serif;
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.forgotPasswordContainer input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #bfa98c;
  border-radius: 5px;
  background: url("../../assets/notSortedImgs/bagground_img.jpg") no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
}

.forgotPasswordContainer input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.forgotPasswordContainer button {
  background: linear-gradient(145deg, #552d15, #a67c52);
  color: white;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.forgotPasswordContainer button:hover {
  background: linear-gradient(145deg, #774d30, #d2a572);
  transform: translateY(-2px);
}

.forgotPasswordContainer p {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.forgotPasswordContainer p span {
  text-decoration: underline;
  color: #552d15;
  cursor: pointer;
}
