/* popup */
.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup img {
  height: 50%;
  width: auto;
  object-fit: cover;
  cursor: default;
}

/* @media (max-width: 600px) {
  .popup img {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .popup img {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .popup img {
    width: 200px;
  }
} */

.popup img:hover {
  transform: none;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .closeBtn {
    right: 25px;
  }
}

@media (max-width: 500px) {
  .closeBtn {
    right: 15px;
  }
}

@media (max-width: 1000px) {
  .changeImgBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }

  .left,
  .right {
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 1000px) {
  .left {
    left: 5%;
  }

  .right {
    right: 5%;
  }

  .left,
  .right {
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
}
