.section {
  padding: 30px 0px;
  background-color: #c26831;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textSec {
  & h2 {
    font-family: "Irish Grover", serif;
    color: white;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 7px;
  }

  & p {
    color: white;
    font-family: "Inter", sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.centerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
