.button {
  padding: 8px 10px;
  border: none;
  background-color: #d0621c;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 6px;
}
.button:hover {
  background-color: rgb(255, 182, 140);
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 142, 76);
}

@media (min-width: 728px) {
  .button {
    padding: 10px 12px;
    font-size: 12px;
  }
}
