.news {
  padding: 70px;
  color: #ffffff;
  background-color: #c26831;
}

.news h2 {
  text-align: center;
  font-family: "Irish Grover", serif;
  font-size: 50px;
  margin-bottom: 30px;
}

.newsContent {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.newsContent img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.newsContentItem {
  background-color: #c26831;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.newsContentItem:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.newsDate {
  color: #000000;
  font-size: 16px;
  font-family: "Irish Grover", serif;
  padding: 15px;
}
.newsTitle {
  font-size: 25px;
  font-family: "Irish Grover", serif;
  padding: 15px;
}
.newsText {
  font-size: 18px;
  font-family: "Irish Grover", serif;
  padding: 15px;
  margin-bottom: 15px;
}

.article {
  background-image: url(../../assets/notSortedImgs/bagground_img.jpg);
  background-size: cover;
}

.articleContainer {
  background-color: #c26831;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}
.imageContainer {
}
.heading {
}
.bylineContainer {
}
.author {
}
.date {
}
.bodyTextContainer {
}
.bodyTextHeadline {
}
.bodyText {
}

@media screen and (max-width: 768px) {
  .news {
    padding: 20px;
  }
  .news h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .newsContent {
    width: 260px;
    display: flex;
    flex-direction: column;
  }
  .newsContent img {
    width: 260px;
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .newsContent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .newsContent {
    width: 300px;
  }
  .newsContent img {
    width: 300px;
  }
}
